 # Questions:
 
 1. Is there any strong or weak correlation between rainfall & price of onion & Tomato ?
 2. Is there any differences of price between states / Regions?
 3. Is there any other factors apart from rainfall on the price of onion & Tomato?
 4. How to analyse the supply & demand and decide which crop to harvest as a farmer?
 5. which region is the best place to sell?
 6. Average price of Onions is 1300. Prove it with 95% confidence level

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
import scipy.stats as stats

In [2]:
data=pd.read_csv('Onion_Tomato_weekly.csv')

In [3]:
data

,Year,CW,Vegetable,Bangalore Price (Rs./Quintal),Delhi Price (Rs./Quintal),Hyderabad Price (Rs./Quintal),Kolkata Price (Rs./Quintal),Pune Price (Rs./Quintal),Andaman & Nicobar Islands,Arunachal Pradesh,...,Chhattisgarh,Coastal Andhra Pradesh,Telangana,Rayalseema,Tamil Nadu,Coastal Karnataka,North Interior Karnataka,South Interior Karnataka,Kerala,Lakshadweep
0,2015,1,Onion,1200,1462,1125,1967.0,1175,126.8,30.8,...,15.8,2.0,17.5,1.9,8.3,1.4,2.4,1.7,3.1,2.2
1,2015,2,Onion,1359,1383,1260,1596.0,1290,126.8,30.8,...,15.8,2.0,17.5,1.9,8.3,1.4,2.4,1.7,3.1,2.2
2,2015,3,Onion,1208,1256,906,1771.0,1167,126.8,30.8,...,15.8,2.0,17.5,1.9,8.3,1.4,2.4,1.7,3.1,2.2
3,2015,4,Onion,1352,1321,1130,1625.0,1150,126.8,30.8,...,15.8,2.0,17.5,1.9,8.3,1.4,2.4,1.7,3.1,2.2
4,2015,5,Onion,1323,1412,1400,1750.0,1120,126.8,30.8,...,15.8,2.0,17.5,1.9,8.3,1.4,2.4,1.7,3.1,2.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,2017,48,Tomato,2740,3207,1645,4800.0,1833,205.9,9.9,...,0.2,46.7,1.9,33.3,141.5,19.4,4.9,13.8,152.1,63.5
312,2017,49,Tomato,2350,2609,1379,4486.0,1733,243.7,3.4,...,0.0,1.2,0.0,7.4,96.8,7.2,0.9,7.7,61.4,160.1
313,2017,50,Tomato,2300,1491,829,3186.0,900,243.7,3.4,...,0.0,1.2,0.0,7.4,96.8,7.2,0.9,7.7,61.4,160.1
314,2017,51,Tomato,733,1020,456,2200.0,633,243.7,3.4,...,0.0,1.2,0.0,7.4,96.8,7.2,0.9,7.7,61.4,160.1
315,2017,52,Tomato,525,867,417,2000.0,640,243.7,3.4,...,0.0,1.2,0.0,7.4,96.8,7.2,0.9,7.7,61.4,160.1